*{
    box-sizing: border-box;
    padding: 0;
    margin:  0;
}

body{
    margin: 0;
    padding: 0;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar{
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: #0F4C81;
}

#title{
    font-size: 1.5rem;
    margin: .5rem;
    color: #f2f2f2;
    margin-right: 3rem;

}

.navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li{
    list-style: none;
    transition: .3s;
}

.navbar-links li a{
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    background-color: #0F4C81;
    padding: 1rem;
    display:block;
}

.navbar-links li :hover {
    background-color: rgba(59, 121, 255, 0.5);
    transition: .3s;
}

.toggle {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

#logo{
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#introduccion{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    background-image: url('/img/pxfuel.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


#introduccion p{
    background-color: rgba(26, 213, 255, 0.5);
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 20%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: bolder;
    text-align: center;
    color: #ffffff;
}

#separador{
    height: 80px;
    background-image: url('/img/divisor.jpg');
    background-repeat: no-repeat;
    background-position:top;
    background-size: cover;
}
.sectionDigimones{
    padding-top: 90px;
    padding-bottom: 90px;
    background-image: url('/img/fondo.jpg');
    background-repeat: no-repeat;
    background-position:top;
    background-size: cover;
}

.sectionDigimones h2{
    text-align: center;
    padding-bottom: 40px;
}

#titulo2{
    font-size: 80px;
    text-align: center;
    color: #ffff;
	-webkit-text-stroke: 3px #0F4C81;
}

#introDigimons{
    display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-bottom: 50px;
}

#introDigimons-img{
    float: left;
    width: 70%;

}

#introDigimons-img img{
    max-width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
    border-bottom-left-radius: 80px;
    border-top-right-radius: 80px;
}

#introDigimons-p{
    margin: auto;
    float: right;
    width: 70%;
    background-color: rgb(51, 51, 51, 0.5);
}

#introDigimons-p p{
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 30px;
    font-size: 2rem;
    text-align: justify;
    color:#f2f2f2;
    
}

#digimonCards{
    background-image: url('/img/fondo2.jpg');
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    padding-bottom: 40px;
    padding-top: 40px;
}
main { 
    padding: 2rem;
    max-width: 1000px;
    margin: 0 auto;
}

.digimons {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.digimon{
    border-radius: 1rem;
    background-color:azure;
    box-shadow: 0 0 3rem -1rem rgba(191, 182, 182, 0.25);
    padding-block: 1rem;
    text-transform: uppercase;
    position: relative;
    isolation: isolate;
    overflow: hidden;
    text-align: center;
    align-content: center;
}

.digimon-imagen {
    padding-inline: 1rem;
    display: flex;
    justify-content: center;
}

.digimon-imagen img {
    width: 100%;
    max-width: 6rem;
}

.digimon-info {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding-inline: 1rem;
    align-items: center;
    text-align: center;
}

.nombre-contenedor {
    display: flex;
    align-items: center;
    column-gap: .5rem;
    flex-wrap: wrap;
    justify-content: center;
}

.digimon-nombre {
    font-size: 1.4rem;
}

#digimon-buttons {
    display: flex;
    gap: .5rem;
    font-size: .75rem;
    font-weight: 500;
    flex-wrap: wrap;
    justify-content: center;
}

#buttons{
    padding: .25rem .5rem;
    border-radius: 100vmax;
}
#digimon {
    font-size: 15vmin;
    position: absolute;
}
#juegosDigimon{
    background-image: url('/img/fondo3.jpg');
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    padding-bottom: 40px;
}
.juegosDigi{
    padding-top: 90px;
    padding-bottom: 90px;
}

.container{
    width: 50%;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.mySlides{
    display: none;
}
.prev,
.next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6 ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    border:  solid #fff 2px;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover{
    background-color: rgba(0, 0, 0, 0.8);
}
.elements{
    text-align: center;
}
.quadrate{
    cursor: pointer;
    height: 4px;
    width: 50px;
    margin: 0 2px;
    background-color: #717171;
    display: inline-block;
    transition: background-color 0.6s ease;
    border-radius: 2px;
}
.active, .quadrate:hover{
    background-color: #fff;
}
@media screen and (max-width:900px) {
    .container{
        width: 100%;
    }
}
@media screen and (max-width:500px) {
    .container{
        width: 100%;
    }
    .prev,
    .next{
        padding: 5px;
    }
}

.card {
    padding: 10px;
    max-width: 260px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    background-color: rgb(255, 255, 255);
    font-family: sans-serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .content {
    margin-top: 1rem;
  }
  
  .content .header {
    margin-top: 0.5rem;
  }
  
  .image {
    width: 100%;
    height: 150px;
    border-radius: 4px;
    background-color: rgb(205, 235, 255);
    padding: 9px;
  }
  
  .tag {
    text-transform: capitalize;
    background-color: rgba(255, 101, 101, 0.425);
    padding: 2px 8px;
    border-radius: 4px;
    color: #0F4C81;
  }
  
  .date {
    display: flex;
    font-size: 0.75rem;
    line-height: 1rem;
    align-items: center;
    margin: 2px;
  }
  
  .title {
    display: block;
    font-size: 1.25rem;
    line-height: 1.35rem;
    font-weight: 600;
    padding-bottom: 5px;
    padding-top: 14px;
    color: #0F4C81;
    text-align: center;
  }
  
  .description {
    line-height: 1.375;
  }
  .border {
    color: black;  
    text-shadow:
      -1px -1px 0 white, 
      1px -1px 0 white,
      -1px 1px 0 white,
      1px 1px 0 white;  
  }
  
  .wave {
    color: #00FF00;
    animation: wave 3s ease-in-out infinite;
  }
  
  @keyframes wave {
    0%, 100% {
      clip-path: polygon(
        0% 47%,
        10% 48%,
        33% 54%,
        54% 60%,
        70% 61%,
        84% 59%,
        100% 52%,
        100% 100%,
        0% 100%
      );
    }
  
    50% {
      clip-path: polygon(0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
      );
    }
  }
  

  @media screen and (min-width: 470px) {
    .digimons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 700px) {
    .digimons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

 @media (max-width: 768px) {
    #introDigimons {
        flex-direction: column;
    }
 }
@media (max-width: 660px) {

    #introduccion p{
        margin-top: 40%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1rem;
        text-align: center;
       
    }

    .toggle {
        display: flex;

    }

    .navbar-links{
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-links ul {
        width: 100%;
        flex-direction: column;
        
    }
    .navbar-links li {
        text-align: center;
    }
    .navbar-links li a {
        padding: .5rem 1rem;
    }
    .navbar-links.active {
        display: flex;
    }

}